/.vscode
/node_modules
/realtime/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.lock
/.idea
/.vscode
#/public/asset/admin/js/admin/main.js
/public/.htaccess
*.zip
*.gz
*.mmdb
Modules/Translation/lang/*
.php_cs.cache

/uploads/customers/*
/uploads/customers/avatar/*
/uploads/videos/*
/uploads/sections/*
/uploads/providers/avatar/*
/uploads/articles/*
/uploads/podcasts/*
/uploads/services/*
/uploads/tickets/*
/uploads/users/avatar/*
/uploads/posts/*
/uploads/posts/avatar/*
/uploads/chanals/avatar/*
/uploads/chanals/*
/uploads/society/*
/uploads/society/posts/*
/uploads/app_images/*