/.vscode
/node_modules
/realtime/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.lock
/.idea
/.vscode
#/public/asset/admin/js/admin/main.js
/public/.htaccess
*.zip
*.gz
*.mmdb
Modules/Translation/lang/*
.php_cs.cache

